/* import font */

:root
{

    --darkblue : #202B48; 
    --radialorange : #FFA144;
    --sawit:#EDC75C;
}

  
.bolder{            
    font-weight: 700;
    color: var(--sawit);
}

.container-fluid{
    overflow-x: hidden;
}
/* basic navbar */
#myNavbar{
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

#myNavbar .navbar-toggler{
    text-decoration: none;
    border: 0px;
}

#myNavbar{
    font-family: Poppins;
    font-weight: 400;}
    #myNavbar .navbar-toggle{
        color: rgb(73, 73, 73);
    }
    #myNavbar .navbar-brand{
        margin-right: 6rem;
    }
    #myNavbar .active{
        font-weight:700;
    }
    #myNavbar .nav-link{
        text-decoration: none;
        font-size: 14px;
        margin-right: 44px;
        color:#FFFFFF;
        font-family: Poppins;  
        font-weight:400;      
    }
    #myNavbar .btn-regis{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 700;
        width: 123px;
        padding: 10px;
        text-align: center;
        font-size:14px;
        background-color:var(--darkblue);
        border-radius:20px;        
    }

    #myNavbar .navbar-brand img{
        width:40px;
    }
    


    #head-cover{
        min-height:100vh;
        background: url('../images/home.jpg');
        background-size: 100%;}

        #head-cover .backdrop{
            background-color: rgba(0, 0, 0, 0.47);
            width:100%;
            height:100vh;
            padding:0.1px;
        }
        #head-cover .backdrop h1{
            font-family: 'Poppins';
            font-weight: 900;
            color: var(--sawit);
            font-size: 55px;
            margin-top: 18%;
            letter-spacing: 8px;
        }

        #head-cover .backdrop .subtitle{
            color:white;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 29px;
        }
        #head-cover .backdrop .subtitle .bolder{
            font-size: 32px;
            font-weight:700;
            color: var(--sawit);
        }

        #head-cover .backdrop img{
            width:100px;
            margin-top: 7%;
        }

        #konten-sawit{
            min-height:200px;
            background-size: cover;
            background:url('../images/bg.png');
        }
        #konten-sawit .backdrop{
            background-color: rgba(0, 0, 0, 0.3);
            width:100%;
            min-height: 200px;
            padding-bottom:5%;
        }
        #konten-sawit .dampak-sawit{
            padding-top: 8%;
            padding-right:5%;
            padding-left:5%;
        }
        #konten-sawit .card-sawit{
            width:50%;
        }
        #konten-sawit .card-sawit .cover{
            width: 284px;
            height: 274px;
            border-radius: 34px            
        }

        #konten-sawit .card-sawit h3{
            font-family: 'Poppins';
            font-size:18px;
            font-weight:700;
            color: var(--sawit);
            margin:18px;
        }

        
        #konten-sawit .card-sawit p{
            font-family: 'Poppins';
            font-size:15px;
            font-weight:500;
            color:#FFFFFF;  
                      
        }

        #konten-sawit .card-sawit .bt-baca-lengkap{
            border:4px solid #FFFFFF;
            padding:15px 25px;
            font-family: 'Poppins';
            text-align: center;
            font-size:15px;
            font-weight: 500;
            color: #fff;            
            text-decoration: none;
            border-radius :9px;            
        }
        
        #konten-sawit .card-sawit .bt-baca-lengkap:hover{
            transition-duration: 0.5s;
            background-color:#4B634C;
            border: 4px solid #4B634C;
        }
        
        #konten-sawit .swiper-wrapper{
            min-height:80vh;
        }

        #validasi-sawit{
            padding-left: 7%;
            padding-right: 7%;
            padding-top: 10%;
        }
        
        #validasi-sawit h2{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 50px;
            color: #FFFFFF;
            margin-top:10%;
        }

        #validasi-sawit p{
            width: 80%;
            font-family: 'Poppins';
            font-size: 21px;
            color: #FFFFFF;
            font-weight: 500;
            letter-spacing: 3px;
            margin-top: 25px;
        }

        
        #validasi-sawit p .bolder{            
            font-weight: 700;
            color: var(--sawit);
        }
        
        #validasi-sawit  .cover{
            width: 284px;
            height: 274px;
            border-radius: 34px;                    
        }

        #validasi-sawit .validation-desc{
            width:80%;
            font-family: 'Poppins';
            color:white;
            font-size: 15px;
            color: #FFFFFF;
            font-weight: 500;
        }

        
        #validasi-sawit .solution-desc{
            width:68%;
            font-family: 'Poppins';
            color:white;
            font-size: 15px;
            color: #FFFFFF;
            font-weight: 500;
            margin-top:10%;
        }

        #poin-sawit .card-poin{
            width:50%;
        }
        #poin-sawit .card-poin .cover{
            width: 546px;
            height: 274px;
            border-radius: 34px ;
            overflow: hidden;                       
        }

        #poin-sawit .card-poin .cover .cpt{ 
            width: 566px;
            height: 284px;
            border-radius: 34px;
            padding: 18% 5%;
            color: #fff;
            text-align: center;
            font-family: 'Poppins';
            font-weight: 500;
            background-color: rgba(104, 104, 104, 0.4);
            backdrop-filter: blur(8px);
            font-size: 19px;
            opacity:0;
        }

        #poin-sawit .card-poin .cover .cpt:hover{
            transition-duration:0.5s; 
            opacity:1;
        }

        #poin-sawit .poin-sawit-swiper{
            margin-left:23%;
        }

        #poin-sawit .swiper-wrapper{
            min-height: 10px;
        }

        #poin-sawit .swiper-poin-pagination{
            margin-top: 50px;
        }
    #contact{
        
        min-height:50vh;        
        background:url('../images/bg-contact.jpg');
        background-size: 100%;        
    }

    #contact .backdrop{
        padding-top:15%;
        background-color: rgba(0, 0, 0, 0.6);
        width:100%;
        min-height: 200px;
        padding-bottom:5%;
    }

    #contact p{
        width:68%;
        font-family: 'Poppins';
        color:white;
        font-size: 19px;
        color: #FFFFFF;
        font-weight: 500;
        text-align: center;
    }

    
    #contact .join-telegram{
        border:4px solid #FFFFFF;
        padding:15px 25px;
        font-family: 'Poppins';
        text-align: center;
        font-size:15px;
        font-weight: 500;
        color: #fff;            
        text-decoration: none;
        border-radius :9px;            
    }
    
    #contact .join-telegram:hover{
        transition-duration: 0.5s;
        background-color:#4B634C;
        border: 4px solid #4B634C;
    }

    #contact .futer{
        width:100%;
        margin-top:10%;
        padding-left:5%;
        padding-right:5%;
    }
    #contact .futer p{        
        font-family: 'Poppins';
        color:white;
        font-size: 12px;
        color: #FFFFFF;
        font-weight: 500;  
        width:50%;
        text-align:left;     
    }

    #contact .futer .sosmed{
        float:right;
        text-align:right;
    }
    #contact img{
        width: 21px;
        margin-right: 20px;
        display: inline-block;    
    }





/* responsive */
@media only screen and (max-width:720px){
    #myNavbar {
        padding: 6px;
        padding-left: 3%;
        padding-right: 10%;
        padding-top: 20px;
    }
    #myNavbar .nav-link {
        text-decoration: none;
        font-size: 14px;
        margin-right: 0px;
        color: #FFFFFF;
        font-family: Poppins;
        font-weight: 400;
    }
    #myNavbar .navbar-collapse ul{
        width: 100%;
        text-align: center;
    }

    #head-cover .backdrop h1 {
        font-family: 'Poppins';
        font-weight: 900;
        color: var(--sawit);
        font-size: 38px;
        margin-top: 78%;
        letter-spacing: 0px;
        padding-right: 10%;
        padding-left: 10%;
    }

    #head-cover .backdrop .subtitle {
        width: 5;
        color: white;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 13px;
        padding-right: 10%;
        padding-left: 10%;
    }
    #head-cover .backdrop .subtitle .bolder {
        font-size: 14px;
        font-weight: 700;
        color: var(--sawit);
    }    

    #head-cover .backdrop img {
        width: 51px;
        margin-top: 7%;
    }    

    #head-cover .backdrop {
        background-color: rgba(0, 0, 0, 0.47);
        width: 100%;
        height: 93vh;
        padding: 0.1px;
    }

    #head-cover {        
        min-height:10px;
        background: url(../images/home.jpg);
        background-size: cover;
    }

    #konten-sawit .card-sawit .cover{
        width: 232px;
        height: 222px;
        border-radius: 34px;
    }

    #konten-sawit .dampak-sawit{
        padding-top:22%;
    }

    #validasi-sawit h2 {
        font-size: 39px;
    }

    #validasi-sawit p {
        width: 100%;
        font-family: 'Poppins';
        font-size: 17px;
        color: #FFFFFF;
        font-weight: 500;
        letter-spacing: 0px;
        margin-top: 25px;
    }    

    #poin-sawit .card-poin .cover{
        width:245px;
        height:235px;
        border-radius:34px;
        padding:0.1px;
    }

    #poin-sawit .card-poin .cover .cpt{ 
        width: 250px;
        min-height: 100px;
        padding: 31% 5%;
        color: #fff;
        text-align: center;
        font-family: 'Poppins';
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        font-size: 15px;
    }
    #poin-sawit .poin-sawit-swiper{
        margin-left:0%;
    }
    #contact {
        min-height: 50vh;
        background: url(../images/bg-contact.jpg);
        background-size: cover;
  
    }
    
    #contact .futer p {
        font-family: 'Poppins';
        color: white;
        font-size: 12px;
        color: #FFFFFF;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin-top:10%;
    }

    #contact .futer .sosmed {        
        text-align: center;
        width: 100%;
        float: none;
    }

    #contact img {
        width: 21px;
        margin-right: 5px;
        display: inline-block;
    }    
}